<h1>最適な進路選択</h1>
<p>あなたの進路選択の手助けをします。学校情報や口コミ情報をチェックし、あなたに最適な高校を探しましょう。</p>
		<h3>都道府県一覧</h3>
		<% @prefectures.each do |prefecture| %>
			<%= link_to prefecture.name, schools_path(prefecture_id: prefecture.id) %>
		<% end %>

