<section>
	<div class="container">
	<div>
		<h3>高校一覧</h3>
		<% if @schools %>
			<table class="table">
				<thread>
				 <tr>
				  <th scope="col">学校名</th>
				  <th scope="col">部活動一覧</th>
				  <th scope="col">詳細ページ</th>
				 </tr>
				</thread>
				<% @schools.each do |school| %>
				 <tr>
					<td><%= school.name %></td>
					<td><%= school.club %></td>
					<td><%= link_to school_path(school) do %>
					   詳細<% end %>
					</td>
				 </tr>
				<% end %>
		 </table>
		<% else %>
			<h3>対応する高校はありませんでした。</h3>
		<% end %>
	</div>
	</div>
</section>
